@model Montadoras.Veiculos.Web.ViewModels.Montadora.MontadoraIndexViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem certeza que deseja apagar este item?</h3>
<div>
    <h4>Montadora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MercadoPaises)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MercadoPaises)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJMontadora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJMontadora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
